# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_GRAPHQL_SUBSCRIPTION_URL=ws://localhost:4000/glry/graphql/query

# Auth - Privy
NEXT_PUBLIC_PRIVY_APP_ID=

# Auth - WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Auth - Twitter
NEXT_PUBLIC_TWITTER_OAUTH_URL=

# Ethereum
NEXT_PUBLIC_NETWORK_CONNECTOR_CHAIN_ID=1
NEXT_PUBLIC_INFURA_API_KEY=

# Contract Addresses
NEXT_PUBLIC_PREMIUM_MEMBERSHIP_CONTRACT_ADDRESS=0xe01569ca9b39E55Bc7C0dFa09F05fa15CB4C7698
NEXT_PUBLIC_GENERAL_MEMBERSHIP_CONTRACT_ADDRESS=0xe3d0fe9b7e0b951663267a3ed1e6577f6f79757e
NEXT_PUBLIC_GALLERY_MEMENTOS_BASE_CONTRACT_ADDRESS=0x35ae1f85389D2bbd48113909DA6182304952f809
NEXT_PUBLIC_GALLERY_MERCH_CONTRACT_ADDRESS=0x01f55bE815FbD10B1770B008b8960931a30e7f65

# OpenSea
NEXT_PUBLIC_OPENSEA_API_BASEURL=https://api.opensea.io

# Analytics - Mixpanel
NEXT_PUBLIC_MIXPANEL_TOKEN=
NEXT_PUBLIC_ANALYTICS_API_URL=

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=

# Formspree
NEXT_PUBLIC_FORMSPEE_REQUEST_COLLECTION_ID=

# Build Tools
ANALYZE=
MAINTENANCE_MODE=
